<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.digitalharm.eddie" version="2.6" xmlns="http://www.w3.org/ns/widgets" xmlns:android = "http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Eddie Underground</name>
	<description>Collect all the coins that Eddie could carry.</description>
	<author href="digitalharmony.agency" email="support@digitalharmony.agency">Digital Harmony</author>

	<icon src="www/icon-256.png" width="256" height="256" density="xxxhdpi" />
	<icon src="www/icon-128.png" width="128" height="128" density="xhdpi" />

	<preference name="android-targetSdkVersion" value="26" />

	<preference name="orientation" value="landscape" />
	<preference name="fullscreen" value="false" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="AllowInlineMediaPlayback" value="true" />

	<preference name="deployment-target" value="9.0" />
	<preference name="android-minSdkVersion" value="21" />
	<access origin="*" />

	
	<plugin name="com.mcm.plugins.androidinappbilling" />
	<plugin name="cordova-plugin-inappbrowser" />
	<plugin name="cordova-plugin-whitelist" />
	<plugin name="https://github.com/cranberrygame/cordova-plugin-ad-admob" />
	
	<gap:plugin name="cc.fovea.cordova.purchase" source="npm" version="6.0.0">
   <param name="BILLING_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAhY+u3mj+VnFCBm56/Uf9dnSXD8akc6RalcpZ+Q4wfqy3F517y5deAaU3bOqmrZRE6TT8vsUjHgmFqnisnf/mwneORuwopE6DtinxxQKecdJvOINLWa1nLXssNKgwRlOhdzwLbcwAzEHMX1uXSHE+UHvvzXooO98/3zweY7HRKmDoW0xULzFKdUZXgnTyvulkVsmbhWJEO6C3rrUH8hp0nJiNrBwWrfmDRyUlWadVBK5iKqLjkEmg3Na+cmihhGyZu4kko//5zXbxBAagmySWDVa93On6pNz9hleWWqM1cE+p3eIb57wiX3YrbC/FPiwxTNEPFIhMgp6/5k3FnWUM6QIDAQAB"/>
</gap:plugin>


	<engine name="ios" />
	<engine name="android" />
</widget>